<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edytuj wpis</title>
</head>
<body>
  <h1>Edytuj wpis</h1>
  <form action="/edit/<%= book._id %>" method="POST">
    <label for="title">Tytuł:</label>
    <input type="text" id="title" name="title" value="<%= book.title %>"><br>
    <label for="author">Autor:</label>
    <input type="text" id="author" name="author" value="<%= book.author %>"><br>
    <label for="review">Recenzja:</label>
    <textarea id="review" name="review"><%= book.review %></textarea><br>
    <button type="submit">Zaktualizuj wpis</button>
  </form>
</body>
</html>
