<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil użytkownika <%= requestedUsername %></title>
</head>
<body>
    <h1>Profil użytkownika <%= requestedUsername %></h1>

    <% if (user) { %>
        <p>Nazwa użytkownika: <%= user.username %></p>
        <p>Adres email: <%= user.email %></p>
        <!-- Dodaj inne informacje o użytkowniku, które chcesz wyświetlić -->
    <% } else { %>
        <p>Ten użytkownik nie istnieje.</p>
        <!-- Możesz dodać dowolny komunikat, który chcesz wyświetlić, gdy użytkownik nie istnieje -->
    <% } %>

    <!-- Dodaj dowolne inne treści na stronie profilu ogólnodostępnego -->
</body>
</html>
